<div ba-panel ba-panel-title="客户列表" ba-panel-class="xmedium-panel with-scroll light-text">
    <div class="row add-row-editable-table">

        <div style="display:none" class="modal-buttons clearfix">
            <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/customer/customer/customer.add.html', 'md')">Default modal</button>
            <button type="button" class="btn btn-success" data-toggle="modal" ng-click="open('app/pages/common/modalTemplates/largeModal.html', 'lg')">
                      Large modal
                    </button>
            <button type="button" class="btn btn-warning" data-toggle="modal" ng-click="open('app/pages/common/modalTemplates/smallModal.html', 'sm')">
                      Small modal
                    </button>
        </div>


        <div class="col-md-4">
            <button has-perms='sys.menu.add' ng-show="!kt.isShowAddBtn" class="btn btn-success btn-with-icon" ui-sref="customer.customer.add({id:kt.customer.id,isAdd:true})">
                        <i class="ion-plus-round"></i>新增
                    </button>


            <button has-perms='dict.dictclass.add' class="btn btn-success btn-with-icon" type="file" ngf-select="uploadFiles($file, $invalidFiles)" ngf-max-height="1000" ngf-max-size="1MB">
                            <i class="ion-file"></i>导入
                        </button>


        </div>
        <div class="col-md-2 col-md-offset-6">
            <div class="form-group">
                <input type="text" class="form-control form-control-rounded" ng-model="kt.tableState.search.text" input-keyup="kt.LoadPage" placeholder="名称">
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover table-condensed" st-pipe="kt.LoadPage" st-table="dictlist">
        <thead>
            <tr class="sortable">
                <th style="display:none">
                    <label class="table-checkbox checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="kt.checkboxes.checked">
                    <span></span>
                </label>
                </th>
                <th>序号</th>
                <th st-sort="customerCode">客户代号</th>
                <th st-sort="customerNum">客户编码</th>
                <th st-sort="name">名称</th>
                <th ng-show="false" st-sort="marketId">市场</th>
                <th st-sort="marketId">市场简写</th>
                <th st-sort="phone">电话1</th>
                <th st-sort="phone1">电话2</th>
                <th st-sort="identityNum">身份证</th>
                <th style="min-width:150px" st-sort="address">地址</th>
                <th st-sort="remark">备注</th>
                <th>操作</th>




            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dict in kt.dictlist" class="editable-row">
                <td style="display:none" class="check-td">
                    <div class="mail-checkbox">
                        <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" ng-model="kt.checkboxes.items[dict.id]">
                        <span></span>
                    </label>
                    </div>
                    <div ng-show="false">
                        <span e-name="id" e-form="rowform" editable-text="dict.id">
                    </span>
                    </div>
                </td>

                <td>
                    {{$index+1}}

                </td>

                <td>
                    <span editable-text="dict.customerCode" e-name="customerCode" e-form="rowform" e-required>
                    {{dict.customerCode}}
                    </span>
                </td>

                <td>
                    <span editable-text="dict.customerNum" e-name="customerNum" e-form="rowform" e-required>
                        {{dict.customerNum}}
                        </span>
                </td>

                <td>
                    <span editable-text="dict.name" e-name="name" e-form="rowform" e-required>
                {{dict.name}}
                </span>
                </td>



                <td ng-show="false">
                    <span editable-select="dict.marketId" e-name="marketId" e-form="rowform" e-selectpicker e-ng-options="s.id as s.name for s in kt.marketList">
                          {{ kt.showMarketName(dict.marketId) }} 
                        </span>
                </td>

                <td>
                    <span editable-select="dict.marketId" e-name="marketId" e-form="rowform" e-selectpicker e-ng-options="s.id as s.name for s in kt.marketList">
                              {{ kt.showMarketCode(dict.marketId) }}
                            </span>
                </td>

                <td> <span editable-text="dict.phone" e-name="phone" e-form="rowform" e-required>
                    {{dict.phone}}
                    </span>

                </td>

                <td>
                    <span editable-text="dict.phone1" e-name="phone1" e-form="rowform" e-required>
                                {{dict.phone1}}
                                </span>

                </td>
                <td>
                    {{dict.identityNum}}
                </td>

                <td>
                    <span editable-text="dict.address" e-name="address" e-form="rowform" e-required>
                                    {{dict.address}}
                                    </span>

                </td>


                <td>
                    <span editable-text="dict.remark" e-name="remark" e-form="rowform">
                {{dict.remark}}
                </span>
                </td>
                <td>
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="kt.inserted == dict">
                        <button type="submit" ng-disabled="rowform.$data.name==null||rowform.$data.name==''" ng-click="kt.save(rowform.$data)" class="btn btn-info editable-table-button btn-xs">
                        保存
                    </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                        取消
                    </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">

                        <button has-perms='customer.customer.edit' class="btn btn-warning editable-table-button btn-xs btn-with-icon" ui-sref="customer.customer.edit({id:dict.id})">
                                    <i class="ion-edit"></i>编辑
                                </button>


                        <button has-perms='dict.dict.delete' class="btn btn-danger editable-table-button btn-xs btn-with-icon" ng-click="kt.del(dict.id)"><i class="ion-trash-a"></i>删除
                        </button>



                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>


            <tr>
                <td colspan="12" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-template="app/pages/common/pagination.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>