<div ba-panel ba-panel-title="客户分类" ba-panel-class="xmedium-panel with-scroll light-text">
    <div class="row add-row-editable-table">
        <div class="col-md-4">
            <button has-perms='dict.dictclass.add' class="btn btn-success btn-with-icon" ng-click="kt.addRow()">
                <i class="ion-plus-round"></i>新增
            </button>
        </div>
        <div class="col-md-2 col-md-offset-6 ">
            <div class="form-group">
                <input type="text" class="form-control form-control-rounded" ng-model="kt.tableState.search.code" input-keyup="kt.LoadPage" placeholder="编号">
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover table-condensed" st-pipe="kt.LoadPage" st-table="dictlist">
        <thead>
            <tr class="sortable">

                <th style="width:30px">序号</th>
                <th st-sort="orderDate">日期</th>
                <th st-sort="wholesalerId">批发商姓名</th>
                <th style="width:30px" st-sort="warehouseNum">仓号</th>
                <th st-sort="customerNum">购货人姓名</th>
                <th style="width:30px" st-sort="num">出场数量</th>
                <th st-sort="addressId">送达地点</th>

                <th style="min-width:90px" st-sort="remark">备注</th>
                <th style="width:175px">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dict in kt.dictlist" class="editable-row">

                <td ng-show="false">
                    <div ng-show="false">
                        <span e-name="id" e-form="rowform" editable-text="dict.id">
                            </span>
                    </div>
                </td>

                <td>{{$index+1}}</td>
                <td>
                    <span editable-text="dict.orderDate" e-name="orderDate" e-form="rowform" e-required>
                {{kt.showDay(dict.orderDate)}}
                </span>
                </td>

                <td>
                    <span editable-select="dict.wholesalerId" e-name="wholesalerId" e-form="rowform" e-selectpicker e-ng-options="s.id as s.name for s in kt.wholesalers">
                              {{ kt.showWholesalerName(dict.wholesalerId) }} 
                            </span>
                </td>

                <td>
                    <span editable-text="dict.warehouseNum" e-name="warehouseNum" e-form="rowform">
                    {{dict.warehouseNum}}
                    </span>
                </td>


                <td>
                    <span editable-select="dict.customerId" e-name="customerId" e-form="rowform" e-selectpicker e-ng-options="s.id as s.name for s in kt.customers">
                                  {{ kt.showCustomerName(dict.customerId) }} 
                                </span>
                </td>

                <td>
                    <span editable-text="dict.num" e-name="num" e-form="rowform">
                        {{dict.num}}
                        </span>
                </td>

                <td>
                    <span editable-select="dict.addressId" e-name="addressId" e-form="rowform" e-selectpicker e-ng-options="s.id as s.name for s in kt.addressList">
                                  {{ kt.showAddressName(dict.addressId) }} 
                                </span>
                </td>

                <td>
                    <span editable-text="dict.remark" e-name="remark" e-form="rowform">
                {{dict.remark}}
                </span>
                </td>
                <td>
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="kt.inserted == dict">
                        <button type="submit" ng-disabled="rowform.$data.orderDate==null||rowform.$data.orderDate==''" ng-click="kt.save(rowform.$data)" class="btn btn-info editable-table-button btn-xs">
                        保存
                    </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                        取消
                    </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button has-perms='dict.dictclass.edit' class="btn btn-warning editable-table-button btn-xs btn-with-icon" ng-click="rowform.$show()"><i class="ion-edit"></i>编辑
                    </button>
                        <button has-perms='dict.dictclass.delete' class="btn btn-danger editable-table-button btn-xs btn-with-icon" ng-click="kt.del(dict.id)"><i class="ion-trash-a"></i>删除
                    </button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10" class="text-center">
                    <div st-pagination="" st-items-by-page="5"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>