<div class="modal-content kt-date-filter">
    <div class="modal-header bg-info">
        <i class="ion-information-circled modal-icon"></i><span> Information</span>
    </div>
    <div class="modal-body text-left">

        <div class="form-group">

            <label class="control-label" for="inputSuccess1">日期字段:</label>
            <select class="form-control" ng-model="dateFilterOptions.id" ng-options="f.id as f.name for f in dateFilterOptions.items"><option></option></select>
        </div>


        <div class="form-group">

            <label class="control-label" for="inputSuccess1">开始时间:</label>


            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="dateFilterOptions.startDate" is-open="opened.start" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false"
                />
                <span class="input-group-btn">
                               <button type="button" class="btn btn-default" ng-click="openDatePicker('start')"><i class="glyphicon glyphicon-calendar"></i></button>
                             </span>
            </p>
        </div>

        <div class="form-group">
            <label class="control-label" for="inputSuccess2">结束时间:</label>
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="dateFilterOptions.endDate" is-open="opened.end" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false"
                />
                <span class="input-group-btn">
                                   <button type="button" class="btn btn-default" ng-click="openDatePicker('end')"><i class="glyphicon glyphicon-calendar"></i></button>
                                 </span>
            </p>
        </div>



    </div>



    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="changeDatePicker()">应用</button>

        <button type="button" class="btn btn-info" ng-click="$dismiss()">关闭</button>
    </div>
</div>