<div st-pipe="kt.LoadPage" st-table="rows" class="panel-blur kt-panel-out">

    <div class="panel  xmedium-panel with-scroll light-text animated zoomIn kt-panel clearfix ">


        <div class="panel-heading kt-head-box ">


            <div class="row add-row-editable-table  ">




                <div class="col-xs-5">
                    <span class="panel-title">客户分类列表</span>


                </div>


                <div class="col-xs-7 kt-head-btns">


                    <ul class="btn-list clearfix ng-scope">

                        <li class="visible-md">
                            <button has-perms='sys.menu.add' ng-show="!kt.isShowAddBtn" class="btn btn-success btn-sm btn-with-icon" ui-sref="customer.customergroup.add({id:kt.customer.id,isAdd:true})">
                                                    <i class="ion-plus-round"></i>新增
                                                </button>

                        </li>

                        <li class="visible-md">

                            <button has-perms='dict.dictclass.add' class="btn btn-success btn-sm btn-with-icon" type="file" ngf-select="uploadFiles($file, $invalidFiles)" ngf-max-height="1000" ngf-max-size="1MB">
                                    <i class="ion-file"></i>导入
                                     </button>

                        </li>

                        <li>
                            <div class="dropdown inline-block">
                                <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                              <span class="ion-gear-b"></span>
                                                            </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">

                                    <li>
                                        <span>
                                                                            <input type="text" class="form-control form-control-rounded input-sm " ng-model="kt.tableState.search.name" input-keyup="kt.LoadPage" placeholder="名称">
                                                                            </span>
                                    </li>
                                    <li role="separator" class="divider"></li>

                                    <li>
                                        <a href="javascript:void(0);" has-perms='sys.menu.add' ng-show="!kt.isShowAddBtn" ui-sref="customer.customer.add({id:kt.customer.id,isAdd:true})">
                                            <i class="ion-plus-round"></i>新增

                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="javascript:void(0);" has-perms='dict.dictclass.add' type="file" ngf-select="uploadFiles($file, $invalidFiles)" ngf-max-height="1000" ngf-max-size="1MB">
                                            <i class="ion-file"></i>导入
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" ng-click="kt.exportExcel()" has-perms='dict.dictclass.add'>
                                            <i class="ion-file"></i>导出
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </li>

                    </ul>


                </div>
            </div>

        </div>

        <div class="panel-body">

            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr class="sortable">

                        <th style="min-width:{{col.width}}px;" ng-repeat="col in kt.respData.grid.columns" st-sort="{{col.id}}">{{col.name}}</th>


                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in kt.rows" class="editable-row">

                        <td ng-repeat="col in kt.respData.grid.columns">

                            <span ng-bind="row[col.id] || '' "></span>
                            <sapn ng-if="kt.respData.grid.settings.actionCol == col.id">


                                <div class="dropdown inline-block">
                                    <a href="javascript:void(0)" class=" dropdown-toggle" type="button" id="dropdownMenu1_{{row.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="ion-settings"></span>
                                    </a>
                                    <ul class="dropdown-menu " aria-labelledby="dropdownMenu1_{{row.id}}">

                                        <li>
                                            <a href="javascript:void(0)" has-perms='sys.menu.edit' ui-sref="customer.customergroup.edit({id: row.id,isAdd:false})">
                                                <i class="ion-edit"></i> 编辑
                                            </a>
                                            <li role="separator" class="divider"></li>
                                            <li>
                                                <a href="javascript:void(0)" has-perms='dict.dict.delete' ng-click="kt.del(row.id)">

                                                    <i class=" ion-trash-a"></i> 删除

                                                </a>
                                            </li>


                                    </ul>
                                </div>

                            </sapn>

                        </td>


                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class=" footer-blur ">


        <td colspan="12" class="text-center">
            <div st-pagination="" st-items-by-page="5" st-size-op="5" st-template="app/pages/common/pagination-sm.html"></div>
        </td>


    </div>
</div>